body {
    margin: 0px;
    background-color: #fafafc;
    font-family: Arial, Helvetica, sans-serif
}

.logo {
    max-width: 80px;
    display: block;
    margin: auto;
}

.navigation {
    text-align: center;
    margin: 8px 0px;
}

.navigation a {
    margin: 0px 8px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.header {
    background-color: rgba(22, 22, 23, 0.8);
}

.banner {
    min-height: 50vh;
    background-image: url("iphone15pro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding-top: 5vh;
    text-shadow: 0px 0px 2px #333333;
}

.banner h3 {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    text-shadow: 0px 0px 2px #333333;
}

.content {
    margin-top: 8px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    max-width: 1024px;
    margin: auto;
}

.card-mac {

}

.card-watch {

}

.card-pad {
    
}

.card-image {
    max-width: 100%;
    display: block;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
